@charset 'utf-8';

*,
::after,
::before{
    margin: 0;padding: 0;border-style: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(4, 3, 20);
    color: #eee;
}

#app{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app p{
    text-align: right;
    margin: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

#app h3{
    text-align: center;
    font-size: 10rem;
    margin-top: 7%;
    opacity: .5;
    user-select: none;
}

.bubble{
    position: absolute;
    top: 80%;
    border-radius: 100%;
    background-color: aquamarine;
    transform: translate(-50%, -50%);
    animation: anim var(--animD) forwards;
}

@keyframes anim {
    to{
        filter: hue-rotate(720deg);
        top: var(--top);
        left: var(--left);
    }
}